.h2 {
    margin-top: 0;
    color: #2F4858;
    margin-bottom: 20px;
    font-weight: bold;
}

.p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #2F4858;
}

.label {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #2F4858;
}

.input {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    font-size: 14px;
    color: #2F4858;
    background-color: #F5F6F8;
    width: 220px;
}

.emailContainer {
	background-color: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
	padding: 30px;
	border-radius: 15px;
	text-align: center;
    margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	max-width: 70%;
}

.inputDisplay {
	background-color: #FFFFFF;
	padding: 30px;
	text-align: center;
    margin: 30px auto 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.container {
    border-top: 1px solid #474747;
    margin: 40px 0;
    padding: 30px 0;
}

.school_profile {
    background: #ededed;
    padding: 40px;

    .profile_form {
        margin: 0 auto;
        width: 70%;
    }

    .label {
        display: block;
        margin: 0;
    }

    .user_input {
        border-top: 1px solid #474747;
        text-align: left;
        padding: 20px 0;
    }

    .user_res_key {
        font-weight: 700;
        text-transform: capitalize;
    }
}
